<!-- Project Action  -->
<button type="button" [disabled]="boolNew()" class="btn btn-warning" [ngClass]="(removeButton())?'button-remove':'button-regain'" style="margin-left:20px;margin-top:20px" (click)="boolNewProjectToggle(); boolNewToggle()">Start A New HeiMAP Project</button>

<!-- User Interaction  -->
<button type="button" [disabled]="boolNew()" class="btn btn-primary" [ngClass]="(removeButton())?'button-remove':'button-regain'" style="float:right;margin-right:20px;margin-top:20px" (click)="boolNewUserToggle(); ; boolNewToggle()">Sign Up To HeiMAP</button>
<br>
<button type="button" [disabled]="boolNew()" class="btn btn-success" [ngClass]="(removeButton())?'button-remove':'button-regain'" style="float:right;margin-right:20px;margin-top:20px" (click)="boolLoginToggle(); ; boolNewToggle();">Log In</button>
<br>
<button type="button" class="btn btn-danger" [ngClass]="(removeLogout())?'button-remove':'button-regain'" style="float:right;margin-right:20px;margin-top:-40px" (click)="logOut();  boolNewToggle(); clearUsernamePass(); cleanVariables();">Log Out</button>
<br>


<!-- New Project  -->
<div *ngIf="boolNewProject()" style="margin-top:30px; margin-left:50px">
  <h1 style="font-family:Garamond">Create A New HeiMAP Project :-)</h1>
  <br>
  <div class="required">
    <label>Username: </label>
    <input type="text" [(ngModel)]="username" (keyup)="usernameInput($event)" class="input-error" placeholder="username">
  </div>
  <br>
  <div class="required">
    <label>Authorization Key: </label>
    <input type="text" [(ngModel)]="auth_key" (keyup)="authKeyInput($event)" class="input-error" placeholder="ADdfascwd12rsfDSA">
  </div>
  <br>
  <div class="required">
    <label>Project Name: </label>
    <input type="text" size="35" [(ngModel)]="proj_name" placeholder="History of Germany">
  </div>
  <br>
  <div class="">
    <label>Organization: </label>
    <input type="text" size="35" [(ngModel)]="organization" placeholder="University of Heidelberg">
  </div>
  <br>
  <div class="">
    <label>Funder: </label>
    <input type="text" size="35" [(ngModel)]="funder" placeholder="DAAD">
  </div>
  <br>
  <div class="">
    <label>Description: </label>
    <input type="text" size="100" [(ngModel)]="description" placeholder="">
  </div>
  <br>
  <button type="button" class="btn btn-info" [disabled]="boolSubmitProject()" (click)="createNewProject(); successProjectCreate();">Submit</button>
  &nbsp;
  <button type="button" class="btn btn-danger" (click)="boolNewProjectToggle(); boolNewToggle();">Cancel</button>
</div>

<!-- New User  -->
<div *ngIf="boolNewUser()" style="float:right">
  <h1 style="font-family:Garamond">Create A New HeiMAP User :-P</h1>
  <br>
  <div class="">
    <label>First Name: </label>
    <input type="text" size="20" [(ngModel)]="firstname" placeholder="John">
  </div>
  <br>
  <div class="">
    <label>Last Name: </label>
    <input type="text" size="20" [(ngModel)]="lastname" placeholder="Webb">
  </div>
  <br>
  <div class="required">
    <label>Email: </label>
    <input type="text" size="35" [(ngModel)]="email" (keyup)="emailInput($event)" class="input-success" placeholder="johnwebb@uni-heidelberg.de">
  </div>
  <br>
  <div class="required">
    <label>Username: </label>
    <input type="text" size="20" [(ngModel)]="new_username" (keyup)="newUsernameInput($event)" class="input-error" placeholder="username123">
  </div>
  <div class="required">
    <label>Password: </label>
    <input type="password" size="20" [(ngModel)]="new_password">
  </div>
  <div class="required">
    <label>Re-Password: </label>
    <input type="password" size="20" [(ngModel)]="new_re_password">
  </div>
  <br>
  <div class="">
    <label>Organisation: </label>
    <input type="text" size="50" [(ngModel)]="user_organisation" placeholder="University of Heidelberg">
  </div>
  <br>
  <div class="">
    <label>About: </label>
    <input type="text" size="100" [(ngModel)]="user_about" placeholder="I am a Historian.">
  </div>
  <br>
  <button type="button" class="btn btn-info" [disabled]="boolSubmitUser()" (click)="createNewUser(); successUserCreate();">Create</button>
  &nbsp;
  <button type="button" class="btn btn-danger" (click)="boolNewUserToggle(); boolNewToggle();">Cancel</button>
</div>

<!-- Login  -->
<div *ngIf="boolNewLogin()" style="float:right">
  <h1 style="font-family:Garamond">Log In :-D</h1>
  <br>
  <div class="required">
    <label>Username: </label>
    <input type="text" size="35" [(ngModel)]="login_username" (keyup)="checkLogin($event)" placeholder="username123">
  </div>
  <br>
  <div class="required">
    <label>Password: </label>
    <input type="password" size="20" [(ngModel)]="login_password" (keyup)="checkLogin($event)" placeholder="">
  </div>
  <br>
  <div class="">
    <label>Email (if forget password) - Coming Soon!: </label>
    <input type="password" size="35" placeholder="leopoldvonranke@uni-heidelberg.de">
  </div>
  <br>
  <button type="button" class="btn btn-info" [disabled]="boolLoginUser()" (click)="newLogin(); boolLoginToggle();">Log In</button>
  &nbsp;
  <button type="button" class="btn btn-warning" [disabled]="boolSubmitPasswordRecovery()" (click)="recoverPass();  boolLoginToggle(); boolNewToggle(); passwordRecoverySuccess();">Forget Password</button>
  &nbsp;
  <button type="button" class="btn btn-danger" (click)="boolLoginToggle(); boolNewToggle();">Cancel</button>
</div>

<!-- List User Details -->
<div *ngIf="boolDetails()" style="margin-top:30px; margin-left:50px">
  <p style="font-size:30px;">Willkommen <span style="color:red;">{{ full_name }}</span>, (User Id: {{user_id}}) :D</p>
  
  <div *ngFor="let proj_single_item of proj_items" style="background-color: #F3FEFF;width:800px;padding:5px;box-shadow: 5px 5px 5px grey;margin-bottom: 200px">

    <!-- <p *ngIf="proj_single_item.proj_role_single == 'superuser'" style="font-size:20px;">
      <span style="font-weight: bold;">Project Name: </span><span style="color:blue;">{{ proj_single_item.proj_name_single }}</span>
      <br>
      <span style="font-weight: bold;"><a href="https://google.com">Go To Maps</a></span>
      <br>
      <span style="font-weight: bold;">Role: </span><span style="color:orange;">{{ proj_single_item.proj_role_single }}</span >
      <br>
    
      <div class="required">
        <label>Invite New Member: </label>
        <input type="text" size="35" [(ngModel)]="invite_username" (keyup)="checkInviteUsername($event)" placeholder="username">
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </div>

    </p> -->

    <p style="font-size:20px;">
      <span style="font-weight: bold;">Project Name: </span><span style="color:blue;">{{ proj_single_item.proj_name_single }}</span>, (Project Id: {{proj_single_item.proj_id_single}})
      <br>
      <span style="font-weight: bold;"><a href={{webapp_api}} target="_blank">Go To Maps</a></span>
      <br>
      <span style="font-weight: bold;">Role: </span><span style="color:#FF8C00">{{ proj_single_item.proj_role_single }}</span >, (User Id: )
    </p>

    <div>
      <p style="font-size:20px;font-weight: bold;">Members:</p>
      <ul>
        <li *ngFor="let members of proj_single_item.proj_members">
          {{ members.first_name }} {{ members.last_name }} (username - <span style="color:red;">{{ members.user_name }}</span>) - <span style="color:#FF8C00">{{ members.role_proj }}</span >
        </li>
      </ul>
    </div>

    <!-- <div *ngIf="proj_single_item.proj_role_single != 'superuser'">
      <p style="font-size:20px;font-weight: bold;">Members:</p>
      <ul>
        <li *ngFor="let members of proj_single_item.proj_members">
          {{ members.first_name }} {{ members.last_name }} (username - <span style="color:red;">{{ members.user_name }}</span>) - <span style="color:#FF8C00">{{ members.role_proj }}</span >
        </li>
      </ul>
    </div> -->
    

    <div *ngIf="proj_single_item.proj_role_single == 'superuser'"  style="float:left">
      <h1 style="font-family:Garamond;font-size:20px;">Invite New Members or Revoke Old Members from the <span style="color:blue;">{{ proj_single_item.proj_name_single }}</span> project as you are <span style="color:#FF8C00">Project Admin</span> here:</h1>
        <label>Username: </label>
        <input type="text" size="20" [(ngModel)]="invite_username" (keyup)="inviteUsername($event)" placeholder="username">
        &nbsp;
        <label for="exampleFormControlSelect1">Assign Role: </label>
        <select class="form-control" style="width:150px;display: inline" [(ngModel)]="invite_role">
          <option>Project Admin</option>
          <option>Project Leader</option>
          <option>Senior User</option>
          <option>Guest User</option>
          <option>Revoke!</option>
        </select>
        &nbsp;
      <button type="button" class="btn btn-success" [disabled]="boolSubmitInvite()" (click)="inviteUser(proj_single_item.proj_id_single)" >Submit</button> 
    </div>
    
  </div>
  
</div>